*{margin:0;padding:0}
body{font-family:"Microsoft YaHei"}
img,button,input,select{border:none}
button{cursor:pointer}
a{text-decoration:none}
ul li{list-style:none}
::selection{color:#fff;background:#47bea0}
@font-face{font-family:'icomoon';src:url('../../fonts/icomoon.eot?wkmwtl');src:url('../../fonts/icomoon.eot?#iefixwkmwtl') format('embedded-opentype'),url('../../fonts/icomoon.woff?wkmwtl') format('woff'),url('../../fonts/icomoon.ttf?wkmwtl') format('truetype'),url('../../fonts/icomoon.svg?wkmwtl#icomoon') format('svg');font-weight:normal;font-style:normal}.icon{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-home3:before{content:"\e902"}
.icon-newspaper:before{content:"\e904"}
.icon-profile:before{content:"\e923"}
.icon-address-book:before{content:"\e944"}
.icon-display:before{content:"\e956"}
.icon-bubble:before{content:"\e96b"}
.icon-users:before{content:"\e972"}
.icon-cross:before{content:"\ea0f"}
.clearfix{*zoom:1}.clearfix:after{content:"";clear:both;height:0;display:block;visibility:hidden}
.header{width:100%;height:70px;background-color:#eafffd}
.logo{width:200px;display:inline-block;*display:inline;*zoom:1;background-color:#00b38a}.logo img{width:150px;height:40px;margin:15px 25px}
.user{float:right;display:inline;height:40px;line-height:40px;position:relative;margin:15px 20px;text-align:center}.user:hover ul{display:block;z-index:99;display:absolute;z-index:10}
.user ul{display:none}
.user a{width:110px;display:inline-block;*display:inline;*zoom:1;background-color:#47bea0;color:#fff}
.user ul {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}
b{display:inline-block;*display:inline;*zoom:1;width:0;height:0;border-style:dashed;border-color:#fff transparent transparent transparent;border-width:5px}
.aside{float:left;display:inline;width:200px;margin-left:-100%;word-spacing:3px;letter-spacing:2px;background-color:#eafffd}
.menu{height:50px;line-height:50px;padding-left:30px;color:#595d69}
.list{display:inline-block;*display:inline;*zoom:1;width:170px;padding-left:30px}.list a{height:40px;line-height:40px;color:#333}.list a:hover{color:#00b38a}
.main-wrap{margin-left:200px;background-color:#fafafa}
.main{width:100%;float:left;display:inline}.main a{color:#47bea0}.main a:hover{color:#e8614b}
.main .add{color:#fff}.main .add:hover{color:#fff}
.title{height:60px;line-height:60px;font-size:1.1em;font-weight:700;background-color:#fff;color:#00b38a;border-bottom:1px solid #47bea0}.title span{display:inline-block;*display:inline;*zoom:1;width:110px;height:57px;border-bottom:3px solid #47bea0;text-align:center}
table{float:right;/*还有滤镜*/width:100%;margin:20px;text-align:center;border-radius:10px;border:1px solid #dce1e5}
tr{width:100%;height:30px}
th{background-color:#eef3f7;color:#919699}
td{color:#555}
.add{float:right;display:inline;display:inline-block;*display:inline;*zoom:1;width:110px;height:30px;line-height:30px;font-size:1em;text-align:center;margin:20px 20px 0 0;background-color:#e8614b}
.add:hover {
	-webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
.page{position:absolute;bottom:40px;right:100px;color:#919699}.page a{color:#e8614b}.page a:hover{color:#47bea0}
.fr-add{width:310px;top:20%;left:50%;margin-left:-155px;padding:20px;background-color:#f5f9fc;display:none;position:absolute;top:20%}.fr-add input,.fr-add button,.fr-add select,.fr-add textarea{width:70%;height:40px;border-radius:5px;margin-top:20px;letter-spacing:1px}
.fr-add textarea{resize:none;height:100px}
.sub-btn{float: right;font-size:1em;font-weight:700;background-color:#e8614b;color:#fff;cursor:pointer}
.pop-level{position:absolute;bottom:0;right:0;width:100%;height:100%;background:#000;opacity: 0.5;filter:alpha(opacity=50);display:none}
.pop-tit{height:50px;line-height:50px;font-weight:700;position:relative;text-align:center;border-radius:5px;border-bottom:1px solid #dce1e5;color:#919699}.pop-tit .del-pop{color:#919699}
.del-pop{position:absolute;top:0;right:0}
.odd{background-color:#fff}
.even{background-color:#f2f7fa}
input{line-height:40px;}
label{display:inline-block;width: 80px;}
.logo {
	width: 200px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 20px;	
	font-weight: 900;
	color: #fff;
}
.logo i {
	font-size: 28px;
	margin-right: 8px;
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0.5;
		/*height: 50px;*/
		/*background-color: #fff;*/
	}
	100% {
		opacity: 0.9;
		/*background-color: #00b38a;*/
	}
}